<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diu.diu_dse">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/diuicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/diuicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutSweActivity" />
        <activity android:name=".FacultyMembers" />
        <activity android:name=".Facilities" />
        <activity android:name=".AboutDiu" />
        <activity android:name=".AdmissionInfo">

        </activity>
    </application>

</manifest>